<!DOCTYPE html>
<html>
<head>
  <title>CImple</title>
  <style type="text/css">
    body {
      font-family: Helvetica, Arial, sans-serif;
      }
    .good {
      color: #009900;
      }
    .bad {
      color: #990000;
      font-weight: bold;
      }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
